html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.height-100p {
  height:100%;
}

.height-50p {
  height:50%;
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

.border-red {
  border:10px solid red;
}

.border-green {
  border:10px solid green;
}

.border-blue {
  border:10px solid blue;
}

.border-gold {
  border:10px solid gold;
}

.border-pink {
  border:10px solid pink;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-c {
  justify-content:center;
}

* > .flex-jc-s {
  justify-content:flex-start;
}

* > .flex-jc-e {
  justify-content:flex-end;
}

* > .flex-jc-sb {
  justify-content:space-between;
}

* > .flex-ai-c {
  align-items:center;
}

* > .flex-ai-s {
  align-items:flex-start;
}

* > .flex-ai-e {
  align-items:flex-end;
}

* > .flex-as-s {
  align-self:stretch;
}

* > .flex-as-c {
  align-self:center;
}

* > .flex-as-s {
  align-self:flex-start;
}

* > .flex-as-e {
  align-self:flex-end;
}

* > .flex-column-nowrap {
  flex-flow:column nowrap;
}

* > .flex-column-wrap {
  flex-flow:column wrap;
}

* > .flex-row-wrap {
  flex-flow:row wrap;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}

/* 커스텀 */
.con-min-width {
  min-width:1356px;
}

.con {
  width:1356px;
}

/*배경임시*/


/*탑 배너 시작*/

.top-bn>.bn-img>img{
  display:flex;
  max-width:100%;
    
}
.top-bn>.bn-img>img:nth-child(2){
    display:none;
    height:
}
.top-bn>.bn-img>img:nth-child(3){
    display:none;
}

@media (max-width: 1200px) {
  .top-bn>.bn-img>img:nth-child(2){
    display:flex;    
  }
  .top-bn>.bn-img>img:nth-child(1){
    display:none;    
  }
}
@media (max-width: 600px) {
  .top-bn>.bn-img>img:nth-child(2){
    display:none;    
  }
  .top-bn>.bn-img>img:nth-child(1){
    display:none;    
  }
  .top-bn>.bn-img>img:nth-child(3){
    display:flex;    
  }
}


.top-bn{
  position:relative;
}
.top-bn>.close-btn{
  position:absolute;
  top:35.3333%;
  left:88%;
  font-size:30px;  
  border:none;
  background:rgba(0, 0, 0, 0);
   cursor:pointer;
}
div.top-bn.bn-top{
  position:absolute;
  top:-100%;
}




/*탑 배너 끝*/

/*탑바 1 시작*/
.top-color{
  background-color:#F6F6F6;
}

.top-bar1{
  height:40px;
  max-width:1280px;
  min-width:500px;
  margin:0 auto;
  box-sizing:border-box;
  padding:0 40px;
  
  font-size:12px;
  background-color:#F6F6F6;
  color:#787878;
  
}

.top-bar1>.login-box{

  width:234.47px;
  height:100%;
  justify-content:center;
  align-items:center;
}

.top-bar1>.login-box>ul>li{
  margin-left:30px;
}
.top-bar1>.login-box>ul>li>a>i{
  font-size:18px;
}
.top-bar1>.login-box>ul>li>a{
  position:relative;
}
.top-bar1>.login-box>ul>li>a:hover::after{
  content:"";
  width:100%;
  height:1px;
  background-color:#787878;
  position:absolute;
  left:0;
  top:95%;
 }

/*탑바 1 끝*/

/*탑바 1-2 반응형 시작*/
.top-bar1-2{
  height:38px;
  max-width:1280px;
  min-width:500px;
  margin:0 auto;
  box-sizing:border-box;
  padding:0 40px;
  font-size:15px;
  background-color:#F6F6F6;
  color:#787878;
  display:none;
  }
.top-bar1-2>.login-box{
  width:313px;
  height:100%;
  justify-content:center;
  align-items:center;
}
.top-bar1-2>.login-box>ul>li:nth-child(2),.top-bar1-2>.login-box>ul>li:nth-child(3),.top-bar1-2>.login-box>ul>li:nth-child(4){
margin-left:30px;
}
.top-bar1-2>.login-box>ul>li>a>i{
  font-size:20px;
}
.top-bar1-2>.login-box>ul>li>a{
  position:relative;
}
.top-bar1-2>.login-box>ul>li>a:hover::after{
  content:"";
  width:100%;
  height:1px;
  background-color:#787878;
  position:absolute;
  left:0;
  top:95%;
 }

@media (max-width: 1200px) {
 .top-bar1{
    display:none;    
  }
  .top-bar1-2{
    display:flex;    
  }
}


/*탑바 1-2 반응형 끝*/

/*탑바 1-3 반응형 시작*/
.top-bar1-3{
  height:30px;
  max-width:1280px;
  min-width:500px;
  margin:0 auto;
  box-sizing:border-box;
  padding:0 30px;
 
  font-size:10px;
  background-color:#F6F6F6;
  color:#787878;
  display:none;
  }
.top-bar1-3>.login-box{

  width:204px;
  height:100%;
  justify-content:center;
  align-items:center;
}
.top-bar1-3>.login-box>ul>li:nth-child(2),.top-bar1-3>.login-box>ul>li:nth-child(3),.top-bar1-3>.login-box>ul>li:nth-child(4){
margin-left:20px;
}
.top-bar1-3>.login-box>ul>li>a>i{
  font-size:10px;
}
.top-bar1-3>.login-box>ul>li>a{
  position:relative;
}
.top-bar1-3>.login-box>ul>li>a:hover::after{
  content:"";
  width:100%;
  height:1px;
  background-color:#787878;
  position:absolute;
  left:0;
  top:95%;
 }

@media (max-width: 600px) {
  .top-bar1{
    display:none;
  }
  .top-bar1-2{
    display:none;
  }
  .top-bar1-3{
    display:flex;
  }
}
/*탑바 1-3 반응형 끝*/


/*탑바 2 시작*/

.top-bar2{
 
  height:100px;
  max-width:1300px;
  min-width:500px;
  margin:0 auto;
  box-sizing:border-box;
  padding:0 40px;
}
.top-bar2>.logo>img{
  width:120px;
  height:25px;
}

.top-bar2>.menu-box>.menu-item>li>a{
  
  font-size:18px;
  font-weight:bold;
  color:#010101;
  width:145px;
  justify-content:center;
  align-items:center;
}
.top-bar2>.menu-box>.menu-item>li>a:hover{
  color:red;
}
.top-bar2>.btn-event{
   font-size:14px;
  color:#787878;

  align-items:center;
  white-space:nowrap;
  position:relative;
}
.top-bar2>.btn-event:hover::after{
  content:"";
  width:100%;
  height:1px;
  position:absolute;
  left:0;
  background-color:#787878;
  top:58%;
}


.top-bar2>.nav-top{  
  width:45px;
}
.top-bar2>.nav-top>a>i{
  
  color:#787878;
  transition:color .5s;
}
.top-bar2>.nav-top>a>i:hover{
  color:red;
}
/*탑바2 끝*/

/*탑바2 반응형 시작*/
.top-bar2-1{
  
  height:88px;
  max-width:1280px;
  min-width:500px;
  margin:0 auto;
  box-sizing:border-box;
  display:none;
 
}
.top-bar2-1>.list-btn{
  
  width:90px;
}
.top-bar2-1>.list-btn>i{
  font-size:30px
}
.top-bar2-1>.logo>img{
  width:145px;
  height:30px;
  padding-left:46px;
}

.top-bar2-1>.nav-top{  
 padding-right:40px;
  
}
.top-bar2-1>.nav-top>a>i{
  
  font-size:31px;  
  color:#787878;
  transition:color .5s;
}
.top-bar2-1>.nav-top>a:first-child>i{
  padding-right:20px;
}
.top-bar2-1>.nav-top>a:last-child>i{
  padding-left:16px;
}
.top-bar2-1>.nav-top>a>i:hover{
  color:red;
}
@media (max-width: 1200px) {
 .top-bar2{
    display:none;    
  }
  .top-bar2-1{
    display:flex;    
  }
}
/*탑바2 반은형 끝*/

/*탑바2-2 반응형 시작*/
.top-bar2-2{
  
  height:60px;
  max-width:610px;
  min-width:100px;
  margin:0 auto;
  box-sizing:border-box;
  display:none;
}
.top-bar2-2 >.list-btn{
  
  width:60px;
}
.top-bar2-2>.list-btn>i{
  font-size:20px;
}
.top-bar2-2>.logo>img{
  width:97px;
  height:20px;
  padding-left:46px;
}

.top-bar2-2>.nav-top{  
 padding-right:30px;
  
}
.top-bar2-2>.nav-top>a>i{
  
  font-size:20px;  
  color:#787878;
  transition:color .5s;
}
.top-bar2-2>.nav-top>a:first-child>i{
  padding-right:15px;
}
.top-bar2-2>.nav-top>a:last-child>i{
  padding-left:16px;
  font-size:22px;
}
.top-bar2-2>.nav-top>a>i:hover{
  color:red;
}
@media (max-width: 600px) {
 .top-bar2{
    display:none;    
  }
  .top-bar2-1{
    display:none;    
  }
  .top-bar2-2{
    display:flex;    
  }
}
/*탑바2-2 반응형 끝*/

/* 2차 메뉴 아이템 시작*/

.top-bar2>.menu-box>.menu-item>li>ul{
  font-size:14px;
  color:#787878;
  text-align:center;  
  font-weight:400;
  padding:20px 10px;  
  height:430px;
  background-color:white;  
  flex-direction:column;  
  opacity:0;
  visibility:hidden;
  position:relative;
  z-index:10;  
}



.top-bar2>.menu-box>.menu-item:hover>li>ul{
  opacity:1;
  visibility:visible;
}
.top-bar2>.menu-box>.menu-item>li>ul>li{
  padding:8px 0;
}
.top-bar2>.menu-box>.menu-item>li>ul>li>a:hover{
  color:red;
}
.top-bar2>.menu-box>.menu-item>li>ul>li>a{
 position:relative; 
}
.top-bar2>.menu-box>.menu-item>li>ul>li>a::after{
  content:"";
  position:absolute;
  width:100%;
  height:1px;
  background-color:#787878;
  left:0;
  top:90%;
  opacity:0;
  }
.top-bar2>.menu-box>.menu-item>li>ul>li>a:hover::after{
  background-color:red;
  opacity:1;
}
/* 2차 메뉴 아이템 끝*/

.bn-slider-box {
 
  width: 95%;
  margin: 0 auto;
}

.bn-slider-box .slider-1{  
  padding:0 40px; 
}

.bn-slider-box> .slider-1 .slick-slider > a{
  display:block;
    width: 100%;
    height: 100%;
}
 .bn-slider-box .slider-1 a>img{  
  max-width:100%;
  
}
.bn-slider-box .slider-1 .slick-dots{
background-color:white;
    border-radius:50px;    
    position:absolute;
    transform:translateX(-50%) ;
  margin:0;
  bottom:20px;
  width:80PX;
    left: 50%;
    right: 50%;
  
}
.bn-slider-box .slider-1 .slick-track{
  border: 1px solid red;
  overflow: hidden;
  margin-right: 0;  
}


/*하단 슬라이더 시작*/
.main_product{
  margin-top: 92px;
  text-align: center;
  border: 1px solid gold;
}
.main_product > .wrp_holder >h1{
    font-size: 46px;
font-weight: 500;
color: #000;
text-align:center;
}
.main_product > .item_tab .slider-2 .slick-slide > a {
  width:100%;
  display:block;
}
.main_product > .item_tab > .slider-2 .slick-dots{
  position:static;
  display:flex; 
  
}

.main_product > .item_tab >.slider-2 .slick-dots>li{
  font-size:14px;
  display:flex;  
  justify-content:center;
  align-items:center;  
  width:auto;
  height:auto;   
  margin:0;
  padding:5px 0;  
  word-break:keep-all;
}

.main_product > .item_tab{
margin: 23px auto 58px auto;
max-width:1400px;
border:1px solid red;
justify-content: center;
}
.main_product > .item_tab >.item-name{
font-size: 18px;
color: #333;
text-decoration: none;
}
.main_product > .item_tab > .item-name > li{
  position: relative;
  padding: 0 32px;
 }
.main_product > .item_tab > .item-name >li:first-child::before{
  content: "";
  display: none;s
}
.main_product > .item_tab > .item-name>li::before{
  content: "";
  position: absolute;
  top:50%;
  left: -3px;
  margin-top: -3px;
  width: 6px;
    height: 6px;
    background-color:  #e6e6e6;;
    border-radius: 100%;
}


/*하단 슬라이더 시작*/
.main_product>.item_tab>.slider-2{
  
  border:1px solid blue;
  
}
.main_product>.item_tab>.slick-dots li a{
 
  display:block;
  border:1px solid red;
}
.main_product>.item_tab>.slider-2 .slider-imgbox{
  z-index: 2;
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 126%;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #efefef;

}
.main_product>.item_tab>.slider-2 .slider-imgbox >a>img{
  width:320px;
}



.main-product .prod-box-1 .item > .img-box::after {
  content:"";
  display:block;
  padding-top:150%;
}

.main-product  .prod-box-1 .item > .img-box {
  position:relative;
  border: 1px solid #efefef;
  transition: box-shadow 1s;
  overflow: hidden;
}